* {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 80vh;
  max-width: 950px;
  margin: 1rem auto;
  display: flex;
  padding: 2rem;
}

.form_side {
  background-color: white;
  width: 70%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 3rem;
}

.img_side {
  background-color: #94d4e0;
  width: 30%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 3rem;
}
.img_side img {
  box-sizing: 20px;
  margin-top: 4rem;
}
.form_side h3 {
  color: #92d3e0;
  font-family: Arial, Helvetica, sans-serif;
}

.form_side h1 {
  color: #0a253b;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
.email {
  color: #0a253b;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}
input[type="email"] {
  width: 60%;
  padding: 0.4rem;
  margin: 0.4rem 0;
  border: 1px solid rgb(238, 238, 238);
  outline: none;
  border-radius: 3px;
  background-color: #f7f7f7;
}
input[type="email"]::placeholder {
  color: grey;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}
.password {
  color: #0a253b;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}
input[type="password"] {
  width: 60%;
  padding: 0.4rem;
  margin: 0.4rem 0;
  border: 1px solid rgb(238, 238, 238);
  outline: none;
  border-radius: 3px;
  background-color: #f7f7f7;
}
input[type="password"]::placeholder {
  color: grey;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}
.middle_side a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #a1cdec;
}
.middle_side button {
  background-color: #f7c375;
  width: 63%;
  padding: 0.4rem;
  margin: 0.4rem 0;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.cont p {
  margin-top: 1.9rem;
  width: 20%;
  margin-left: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: grey;
}

.footer p {
  color: grey;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  margin-left: 4rem;
}

.footer a {
  text-decoration: none;
  font-size: smaller;
  font-weight: bold;
  color: rgb(45, 45, 142);
}
.icon {
  border: 2px solid grey;
  width: 20%;
  height: 16px;
  padding: 0.3rem;
  margin-left: 15.7rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.icon2 {
  border: 2px solid grey;
  width: 20%;
  height: 16px;
  padding: 0.3rem;
  margin-left: 8rem;
  margin-top: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.icon3 {
  border: 2px solid grey;
  width: 20%;
  height: 16px;
  padding: 0.3rem;
  margin-left: 0.2rem;
  margin-top: -28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.img_side img {
  margin-left: -200px;
  font-size: 4rem;
}
